

:root {
/** LIGHT THEME */
--background: #78a4bf;
--on-background: #6ab37d;
--primary: #506937;
--on-primary: #18578e;
--accent: #ef9e07;
--font: #4a3c3c;
--light: #f3eaea;
}

[data-theme="dark"] {
    /** DARK THEME */
    --background: #061425;
    --on-background: #f3eaea;
    --primary: #7cfc00;
    --on-primary: #000000;
    --accent: #ef9e07;
    --font: #f3eaea;
}


body, html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(var(--background), var(--on-background));
    height: 100%;
}

header {
    background: linear-gradient(var(--primary),var(--on-primary));
    color: var(--light);
    padding: 10px 20px;
    text-align: justify;
    
    top: 0;
    position: fixed;
    width: 100%;
    opacity: 0.6
}
.background-grid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/IMG_2616.jpg");
    background-size: cover;
    opacity: 0.2;
    z-index: 0;
}

h1 {
    color: var(--font);
    text-align: center;
    padding: 20px 0;
}

h2 {
    color: var(--font);
    text-align: center;
    padding: 15px 0;
}

h3 {
    color: var(--font);
    text-align: center;
    padding: 10px 0;
}

footer {
    background: linear-gradient(var(--primary),var(--on-primary));
    color: var(--light);
    padding: 10px 20px;
    text-align: justify;
    bottom: 0;
    position: fixed;
    width: 100%;
    opacity: 0.6;
}


